<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - UL timeline cards</title>
  <link rel="stylesheet" href="./styletimeline.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <Section id="Navbar">
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./Timeline/timeline.html">Timeline</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Others
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../dicee.html">DiceeGame</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
               
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </Section>

<h1>Work Experience</h1>
<ul>
    <li style="--accent-color:#41516C">
        <div class="date">February 2023 - Ongoing</div>
        <div class="title">Project QA/QC Manager</div>
        <div class="descr">NEOM Green Hydrogen Company • Duba, Tabuk, Saudi Arabia</div>
    </li>
    <li style="--accent-color:#FBCA3E">
        <div class="date">February 2021 - February 2023</div>
        <div class="title">Project Quality Manager</div>
        <div class="descr">Çalik Enerji A.Ş. • Basra, Al Başrah, Iraq</div>
    </li>
    <li style="--accent-color:#E24A68">
        <div class="date">May 2018 - May 2020</div>
        <div class="title">Site Quality Assurance Manager</div>
        <div class="descr">Tecnicas Reunidas • Ras Tannoura, Eastern Region, Saudi Arabia</div>
    </li>
    <li style="--accent-color:#1B5F8C">
        <div class="date">August 2016 - April 2018</div>
        <div class="title">QA/QC & Completion Manager</div>
        <div class="descr">Tekfen Construction • Baku, Azerbaijan</div>
    </li>
    <li style="--accent-color:#4CADAD">
        <div class="date">January 2016 - July 2016</div>
        <div class="title">Deputy QA/QC Manager</div>
        <div class="descr">Tekfen Construction • Baku, Azerbaijan</div>
    </li>
    <li style="--accent-color:#41516C">
        <div class="date">January 2013 - December 2015</div>
        <div class="title">Activity Planning Functional Lead</div>
        <div class="descr">BP • Baku, Azerbaijan</div>
    </li>
    <li style="--accent-color:#FBCA3E">
        <div class="date">February 2021 - February 2023</div>
        <div class="title">Project Quality Manager</div>
        <div class="descr">Çalık Enerji A.Ş. • Basra, Al Başrah, Iraq</div>
    </li>
    <li style="--accent-color:#E24A68">
        <div class="date">May 2018 - May 2020</div>
        <div class="title">Site Quality Assurance Manager</div>
        <div class="descr">Tecnicas Reunidas • Ras Tannoura, Eastern Region, Saudi Arabia</div>
    </li>
    <li style="--accent-color:#1B5F8C">
        <div class="date">August 2016 - April 2018</div>
        <div class="title">QA/QC & Completion Manager</div>
        <div class="descr">Tekfen Construction • Azerbaijan</div>
    </li>
    <li style="--accent-color:#4CADAD">
        <div class="date">2022</div>
        <div class="title">Title 5</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
    </li>
    
</ul>

  
</body>
</html>
